{{ define "about"}}
{{ template "_header" }}

<div class="container-fluid justify-content-center text-center " style="height: auto;">
    <div class="row text-center mt-5">
        <p class="fs-4 ">This website is built using :</p>
    </div>
    <div class="row align-items-center" style="height: auto;">
        <div class="col-12 align-items-center">
            <div class="row align-items-center justify-content-center my-3">
                <div class="col-3">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="html" class="img-responsive" style="width: 100%; max-height: 250px;">
                </div>
                <div class="col-3">
                    <img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/bootstrap_plain_wordmark_logo_icon_146620.png" alt="bootstrap" class="img-responsive" style="width: 100%; max-height: 250px;">
                </div>
            </div>
            <div class="row align-items-center justify-content-center my-5">
                <div class="col-3">
                    <img src="https://miro.medium.com/max/1051/1*vHw6ENUfu71KHiyTm0BtUA.png" alt="node express js" class="img-responsive" style="width: 100%; max-height: 250px;">
                </div>
                <div class="col-3">
                    <img src="https://www.seekpng.com/png/full/383-3838960_mongodb-png.png" alt="mongoDB" class="img-responsive" style="width: 100%; max-height: 250px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <p class="fs-3 fst-italic">This website is only for parcticing purpose</p>
    </div>
</div>

{{ template "_footer"}}
{{ end }}