{{ define "detailProduct"}}
{{ template "_header" }}

<div class="container">
    <div class="row mt-5">
        <div class="col-5">
            <img src="{{ .Product.Thumbnail }}" alt="" class="img-responsive" style="max-height: 300px; width: 100%;">
        </div>
        <div class="col-7">
            <div class="row" style="overflow-wrap: break-word;">
                <h2 class="col-8">{{ .Product.Title }}</h2>
                {{ if .IsOwner }}
                    <a href="/products/{{ .Product.Id }}/edit" class="col-2 btn btn-primary mx-2" style="width: auto; height:40px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                    <form method="POST" action="/products/{{ .Product.Id }}/delete" class="d-inline col-2">
                        <button type="submit" class="btn btn-danger" style="width: auto; height:40px" onclick="return confirm('sure?')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </button>     
                    </form>
                {{ else if eq .UserStatus "user" }}
                    <form method="GET" action="" class="d-inline col-2">
                        <button type="submit" class="btn btn-success" style="width: auto; height:40px" onclick="return confirm('sure?')">
                            <p>+ Beli</p>
                        </button>     
                    </form>
                {{ end }}
            </div>
            <table class="table table-md table-borderless">
                 <tr class="d-flex" style="height: 35px;">
                    <td class="col-2"><p class="h5">Price</p></td>
                    {{ if gt .Product.DiscountPercentage 0.0 }}
                        <td class="col d-flex"><p class="h5">:&emsp; $ {{ .Product.FPrice }} &emsp;</p> <p class="text-decoration-line-through fst-italic"> $ {{ .Product.Price }}</p></td>
                        <!-- <td class="col"><p></p></td> -->
                    {{ else }}
                        <td class="col-10"><p class="h5">:&emsp; $ {{ .Product.Price }}</p></td>
                    {{ end }}
                 </tr>
                 <tr class="d-flex" style="height: 35px;">
                    <td class="col-2"><p class="h6">Brand</p></td>
                    <td class="col-10"><p class="h6">: &emsp; {{ .Product.Brand }}</p></td>
                 </tr>
                 <tr class="d-flex" style="height: 35px;">
                    <td class="col-2"><p class="h6">Category</p></td>
                    <td class="col-10"><p class="h6 text-capitalize">: &emsp; {{ .Product.Category }}</p></td>
                 </tr>
                 <tr class="d-flex" style="height: 35px;">
                    <td class="col-2"><p class="h6">Stock</p></td>
                    <td class="col-10"><p class="h6">: &emsp; {{ .Product.Stock }}</p></td>
                 </tr>
                 <tr class="d-flex" style="height: 35px;">
                    <td class="col-2"><p class="h6">Rating</p></td>
                    <td class="col-10"><p class="h6">: &emsp; {{ .Product.Rating }}</p></td>
                 </tr>
                 <tr class="d-flex" style="height: 35px;">
                    <td class="col-2"><p class="h6">Description</p></td>
                    <td class="col-10"><p class="h6">: &emsp; </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-1"></td>
                    <td class="col-11"><p class="">{{ .Product.Description }}</p></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row my-2 text-center">
        <p class="h5">---Images---</p>
    </div>
    <div class="row mt-0 mb-5 justify-content-md-center">
        {{ range $img := .Product.Images }}
            <div class="col-2">
                <img src="{{ $img }}" alt="" class="" style="width: 100%;">
            </div>
        {{ end }}
    </div>

</div>

{{ template "_footer"}}
{{ end }}